---
title: "Quiz"
description: "Test your knowledge about cartography with this mix of questions."
date: 2018-06-04
tags: quiz test knowledge challange
references:
  - author: "H5P Team, Joubel"
    title: "H5P"
    date: June 2018
    link: https://h5p.org/
---

<p>Test the knowledge you gained here about cartography with this mix of tasks and questions. You have to drag-and-drop matching images and text, drag the correct word in a text, fill in blanks in a text and answer multiple choice and true/false questions.</p>

<div class="container mw-900">
  <div class="p-3 border rounded shadow">
    <iframe src="https://h5p.org/h5p/embed/252377" width="800" height="600" frameborder="0" allowfullscreen="allowfullscreen" title="H5P Quiz"></iframe>
    <script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
  </div>
</div>
