---
title: "North Orientations"
description: "Explore the different North Orientations"
date: 2023-02-12
references:

  - author: "Günter Petrahn"
    title: "Taschenbuch Vermessung. Grundlagen der Vermessungstechnik"
    date: 2010
    link: https://books.google.de/books?hl=de&lr=&id=cic8DQAAQBAJ&oi=fnd&pg=PR5&dq=voronoi+diagrams+and+delaunay+triangulations&ots=O7pZlG8EDz&sig=z5d1wRFEdsVRbf-9o2agA-pYwvw#v=onepage&q=voronoi%20diagrams%20and%20delaunay%20triangulations&f=false
  - author: "Franz Josef Gruber, Rainer Joeckel"
    title: "Formelsammlung für das Vermessungswesen"
    date: 2019
    link: https://books.google.de/books/about/Formelsammlung_f%C3%BCr_das_Vermessungswesen.html?hl=de&id=-Mx0DwAAQBAJ&redir_esc=y
  - author: "Caitlin Dempsey"
    title: "True North, Magnetic North, and Grid North"
    date: 2022
    link: https://www.geographyrealm.com/true-north-magnetic-north-and-grid-north/
  - author: "Maya Wei-Haas"
    title: "Der magnetische Nordpol rennt davon - was heißt das für uns?"
    date: 2019
    link: https://www.nationalgeographic.de/wissenschaft/2019/02/der-magnetische-nordpol-rennt-davon-was-heisst-das-fuer-uns
foot_additional: >
  {% include mathjax.html %}
  {% include svgjs.html %}

  <script src="{{ 'no.js' | 'prepend: page.url | absolute_url }}"></script>
---
		
<div class="row">
  <div class="col">
    <p>
      Due to the different coordinate systems on earth, there are also different <em>North Directions</em>. 
	  A distinction is made between the three <em>North Directions</em>: <em>Magnetic North, Grid North</em> and <em>Geographic North</em>.<br>
	  The angles between the <em>North Directions</em> describe the relationships between the <em>North Directions</em>: 
	  There is the <em>declination</em> &delta;, the <em>needle deviation</em> d and the <em>meridian convergence</em> &gamma;.<br>
	</p>
	<center>
	{% include_relative imgs/north_orientations_overview.svg class="img-fluid mx-auto d-block" %}
	</center>
	<br>
  </div>
</div>

<h2 class="mt-5">Magnetic North, Grid North and Geographic North</h2>
<hr>
<br>
<h4> Magnetic North </h4>
<div class="row">
  <div class="col">
    <p>
	<em>Magnetic North</em> (MagN) is the direction to the Earth's magnetic north pole. It is the direction indicated by an ordinary compass. 
	Because the Earth's magnetic field is not constant, 
	the magnetic north pole also moves over the years. Currently, the magnetic North Pole is located near Greenland.
	</p>
  </div>
</div>	
<br>
<h4> Grid North </h4>
<div class="row">
  <div class="col">
    <p>
	<em>Grid North</em> (GriN) are grid lines parallel to the prime meridian of a plane coordinate system (UTM, GK, ...). 
	There is no associated "north pole", but the north direction is mathematically defined.
	</p>
  </div>
</div>	
<br>
<h4> Geographic North </h4>
<div class="row">
  <div class="col">
    <p>
	<em>Geographic North</em> (GeoN) is the true point of intersection of the Earth's axis of rotation through the Earth's surface. 
	Another term is astronomical north or true north. The determination is made by means of gyro measurements or astronomical methods. 
	</p>
  </div>
</div>	

<br>

<div class="row">
  <div class="col-md">
  <center>
    <h4 class="mt-3">Declination &delta;</h4>
  </center>
  </div>
  <div class="col-md">
  <center>
    <h4 class="mt-3">Needle Deviation d</h4>
  </center>
  </div>
  <div class="col-md">
  <center>
    <h4 class="mt-3">Meridianconvergence &gamma;</h4>
  </center>
  </div>
</div>

<div class="row">
  <div class="col-md">
  <center>
	{% include_relative imgs/declination.svg class="img-fluid mx-auto d-block" %}
  </center>
  </div>
  <div class="col-md">
  <center>
	{% include_relative imgs/needle_deviation.svg class="img-fluid mx-auto d-block" %}
  </center>
  </div>
  <div class="col-md">
  <center>
	{% include_relative imgs/meridian_convergence.svg class="img-fluid mx-auto d-block" %}
  </center>
  </div>
</div>


<div class="row">
  <div class="col-md">
  <center>
  <p> Declination &delta; describes the angle between <em>Geographic North</em> and <em>Magnetic North</em>. 
  </p>
  </center>
  </div>
  
  <div class="col-md">
  <center>
  <p> The Needle Deviation d corresponds to the angle between <em>Grid North</em> and <em>Magnetic North</em>. 
  </p>
  </center>
  </div>
  
  <div class="col-md">
  <center>
  <p>The Meridianconvergence &gamma; is the angle between <em>Geographic North</em> and <em>Grid North</em>.
  </p>
  </center>
  </div>
</div>

	<br>


<h2 class="mt-5">Hands-On</h2>
<hr>

<div class="container mw-900">
	<div class="row mb-3">
		<div class="col">Click on any point on the map and you will see the three respective north directions for the corresponding point. You can also switch on and off showing an map grid around the selected point.  </div>
	</div>
	
	<div class="card shadow">
    <div class="card-header h5">
      North Orientations
    </div>
	<div class="row justify-content-md-center">
	<div class="col-md-auto d-flex align-items-center">
		<center>
		<button type="button" id="no-clear" class="btn btn-sm btn-info m-1" data-toggle="no-clear" title="Clear Map"><i class="mdi mdi-delete mr-1"></i>Clear</button>
		</center>
	</div>
	<div class="col-md-auto d-flex align-items-center">
	<div class="custom-control custom-switch">
		<input type="checkbox" class="custom-control-input" id="check-utm" checked>
			<label class="custom-control-label" for="check-utm" data-toggle="tooltip" title="Schematic representation of an UTM grid">Draw map grid</label>					
		</div>
	</div>

	<div class="col-md-auto d-flex align-items-center">
	{% include_relative imgs/legend.svg class="img-fluid mx-auto d-block" %}
	</div>
	<div class="col-md-auto d-flex align-items-center">
	{% include_relative imgs/legend2.svg class="img-fluid mx-auto d-block" %}
	</div>
	
	</div>
		
    {% include_relative world.svg class="card-img-bottom border-top cursor-crosshair bg-light" %}
  </div>
</div> 
	

	





