.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  box-shadow: $box-shadow-up;
  @include media-breakpoint-up(sm) {
    line-height: 4rem;
  }
}
.list-footer {
  font-family: $font-family-monospace;
  font-size: .8rem;
  margin: 0 .4rem;
}

.scroll-to-top {
  position: absolute;
  height: 3rem;
  width: 3rem;
  bottom: 2rem;
  right: 2rem;
  z-index: 10;
  border-radius: 50%;
  padding: .75rem .75rem;
  @include media-breakpoint-down(sm) {
    right: 1rem;
  }
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z'/%3E%3C/svg%3E");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
.scroll-to-top:active { //FIXME
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z'/%3E%3C/svg%3E") !important;
}
